<header class="header-section section-dark">
    <div class="filter"></div>

    <div class="header-content">
    <div class="content-center">
        <div class="container">

            
            <div class="title-brand">
                <app-head-line></app-head-line>
                <div class="fog-low">
                    <img style="height: 120px;" src="/assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img style="height: 120px;" src="/assets/img/fog-low.png" alt="">
                </div>
            </div>
            <app-event-detail></app-event-detail>
            <app-event-date></app-event-date>
        </div>

    </div>
        
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <app-action></app-action>
</header>