<div class="layout-topbar" [ngClass]="{ 'scrolled': isScrolled }">
    <p class="title">Company Name
    </p>
    <span class="spacer"></span>
    <div style="display: flex;">

        <p>
            <a class="menu-items">
                <span class="pi pi-facebook"></span>
        </a>
    </p>
    <p>
        <a class="menu-items">
            <span class="pi pi-instagram"></span>
        </a>
    </p>
    <p>
        <a class="menu-items">
            <span class="pi pi-twitter"></span>
        </a>
    </p>
</div>
</div>