<section class="footer-section">
    <div class="footer-container">
        <!-- <div> -->
        <div class="footer-action">
            <p class="stay-up-to-date">STAY UP TO DATE</p>
            <input type="text" class="email-input">
            <button class="register-btn">Register</button>
            <!-- </div> -->
        </div>
        <div class="footer-social">

            <p class="connect-with-us">CONNECT WITH US</p>
            <div class="footer-social-links">
                <p class="vertical-social"><a class="menu-items"><span class="pi pi-facebook"></span></a></p>
                <p class="vertical-social"><a class="menu-items"><span class="pi pi-instagram"></span></a></p>
                <p class="vertical-social"><a class="menu-items"><span class="pi pi-twitter"></span></a></p>
            </div>
        </div>
    </div>
</section>